#nav{
    text-align: right;
    margin-right: 0%;
    
}
a:hover{
    color:green;
}
a{
   color: black;
    font-style: italic;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.container
{
    position: relative;
    text-align: center;
    color:brown;
    margin: auto;
    z-index: 1;
}
.centered{
    position:absolute;
    top:30%;
    left: 30%;
    transform: translate(-50%,-50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: rgb(228, 28, 28);
    font-style: italic;
}
.down{
    position:absolute;
    top:70%;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    border-style:groove;
    font-style: italic;
    border-bottom:double ;
    border-collapse: collapse;
}
#h1id{
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.art{
    text-align: center;
    border: 15px solid rgb(30, 247, 11);
    padding:50px;
}
#h1id2{
    color: red;
    border-style: dashed;
    padding:0px;
    margin:50px;
}
h1{
    
}
#p1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
    font-size: large;
    text-align: left;
}
ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
    font-size: large;
    text-align: left;
}
.form-style
{
    font:95 Arial,Helvetica,sans-serif;
    max-width: 400px;
    margin:10px auto;
    padding:16px;
    background: white;
}
.form-style h1{
    
}

